<!-- ###RZAUTOCOMPLETE_TEMPLATE### begin -->
  <form action="###SEARCHPAGE###" method="post" class="searchform" id="###FORM_ID###" autocomplete="off">
  	<input name="tx_indexedsearch[sword]" class="sword" id="###WORD_ID###" type="text" value="###SEARCH###" onclick="if(this.value=='###SEARCH###')this.value='';" />
  	<input name="tx_indexedsearch[submit_button]" type="submit" value="###SUBMIT###" />
  	<input name="tx_indexedsearch[_sections]" type="hidden" value="0" />
  	<input name="tx_indexedsearch[pointer]" type="hidden" value="0" />
  	<input name="tx_indexedsearch[ext]" type="hidden" value="0" />
  	<input name="tx_indexedsearch[lang]" type="hidden" value="###LANGUAGE###" />
  </form>
<!-- ###RZAUTOCOMPLETE_TEMPLATE### end -->